<section class="section hero">
  <div class="container">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
  </div>
  <div class="hero__picture"data-aos="fade-left" data-aos-duration="700"></div>
  <div class="container flex">
    <p class="hero__text dark--title">Search your favorite cocktail by ABC</p>
    <div class="hero__select-menu js-wrapper">
      <div class="hero__select-btn" for="select">
        <span class="hero__select-text dark--grey">A</span>
        <svg
          class="hero__icon"
          width="24"
          height="24"
          aria-label="drop-down-menu"
        >
          <use href="./images/sprite-hero.svg#icon-drop-down"></use>
        </svg>
      </div>
      <ul class="options hero__select"></ul>
    </div>
    <div class="hero__list-wrapper">
      <ul class="hero__list"></ul>
    </div>
  </div>
</section>
