<section class="hero">
    <div class="container">
   
<h1 class="hero__title">A party without cocktails
                is not like a party</h1>
            <picture>
                <source
                    srcset="./image/cocktail-mob.jpg 1x, ./image/cocktail-mob@2x.jpg 2x, ./image/cocktail-mob@3x.jpg 3x"
                    media="(max-width: 767.99px)">
                <source
                    srcset="./image/cocktail-tab.jpg 1x, ./image/cocktail-tab@2x.jpg 2x, ./image/cocktail-tab@3x.jpg 3x"
                    media="(max-width: 1279.99px)">
                <source
                    srcset="./image/cocktail-des.jpg 1x, ./image/cocktail-des@2x.jpg 2x, ./image/cocktail-des@3x.jpg 3x"
                    media="(min-width:1279.99px)">
                <img class="hero__img" src="./image/cocktail-mob.jpg" alt="cocktail" min-width="300">
            </picture>
            <p class="hero__text">Search your favorite cocktail by ABC</p>
            <ul class="hero__list"></ul>
        </div>
  
</section>