<div class="backdrop-modal-components is-hidden-inner-modal" data-inner-modal>
  <div class="components__position">
    <button
      type="button"
      class="modal-menu__close"
      data-inner-modal-close
      aria-label="Mobile menu closed"
    >
      <svg class="btn-menu__icon dark--fill" width="32px" height="32px">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <div class="inner-modal-container dark--modal-back">
      <h3 class="inner-modal-name dark--title">liqueur</h3>
      <p class="inner-modal-text dark--text">
        <span class="inner-modal-passage dark--text">Campari</span> is an
        Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%,
        or 28.5% ABV, depending on the country in which it is sold), obtained
        from the infusion of herbs and fruit (including chinotto and cascarilla)
        in alcohol and water. It is a bitters, characterised by its dark red
        colour.
      </p>
      <ul class="inner-modal-ingredients dark--text">
        <!-- <li>Type:Bitters</li>

      <li>Country of origin:Italy</li>
      <li>Alcohol by volume:20.5–28.5%</li>
      <li>Flavour:Bitter, spicy and sweet</li> -->
      </ul>
      <button class="modal-button" type="button" data-modal-c>
        Add to favorite
      </button>
      <button
        class="modal-button hidden-components-modal"
        type="button"
        data-modal-d
      >
        Remove from favorite
      </button>
    </div>
  </div>
</div>
