<div class="backdrop-modal is-hidden-modal-coctails" data-modal>
   <div class="modal-coctails__position dark--modal-shadow">
     <button
        type="button"
        class="modal-menu__close"
        aria-label="Mobile menu closed"
        data-modal-close
      >
        <svg class="btn-menu__icon dark--fill" width="32px" height="32px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>

  <div class="container">

    <div class="modal-coctails dark--modal-back" data-modal-scale>
      <h2 class="modal-coctail-name dark--title">Negroni</h2>
      <h3 class="modal-ingredients dark--title">ingredients</h3>
      <p class="modal-per dark--text">Per cocktail</p>     
        <ul class="modal-coctail-components dark--text">
          <li class="modal-coctail-component dark--text" data-modal-open>✶ ice</li>
          <li class="modal-coctail-component dark--text" data-modal-open>✶ 1 ounce gin</li>
          <li class="modal-coctail-component dark--text" data-modal-open>✶ 1 ounce Campari</li>
          <li class="modal-coctail-component dark--text" data-modal-open>✶ 1 ounce sweet vermouth</li>
          <li class="modal-coctail-component dark--text" data-modal-open>✶ Garnish: orange peel</li>
        </ul>
      </a>
      <img src="./images/home-pic51.jpeg" alt="cocktail" class="modal-img" />
      <h3 class="modal-Instructions dark--title">Instructions:</h3>
      <p class="modal-text dark--text">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
      <button class="modal-button" data-modal-a>Add to favorite</button>
      <button class="modal-button hidden_remove" data-modal-b>
        Remove from favorite
      </button>
    
    </div>
  </div>
   </div>
 
</div>
